<% unless signed_in? %>
  <h2>Getting started</h2>

  <p>In order to test the client, you'll need to login in <code><%= site_host %></code>.</p>
  <p>
    You will be prompted for an username and password. Use <code>demo@eventmaker.io</code> and
    <code>eventmakerrocks</code> or create your own user.
  </p>
  <p>
    <% unless signed_in? %>
    <a href="/sign_in" class="btn btn-success" role="button">
      Sign in on <%= site_host %>
    </a>
    <% end %>
  </p>
<% else %>
  <h2>Explore the API</h2>

  <p>Congratulations! You just authorized this client to fetch data from <code><%= site_host %></code> using OAuth2.</p>
  <p>Click on the buttons below to explore <code><%= site_host %></code> API</p>

  <p>
    <a class="btn btn-outline-primary" href="/explore/me.json" data-explore>My public data</a>
    <a class="btn btn-outline-secondary" href="/sign_out" class="btn primary">Sign out</a>
  </p>

  <p id="display-json">Click on the buttons above, the response will show here.</p>

  <p>Your access token: <code><%= session[:access_token] %></code></p>
<% end %>
